.divcar {
  width: 150vw;
  height: 45vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}
.aruba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 45vh;
  object-fit: cover;
  overflow: hidden;
}
.aruba img {
  pointer-events: none;
}
.hola {
  width: 50vw;
  height: 45vh;
  position: relative;
  overflow-x: hidden;
  cursor: grab;
  border-radius: 15px;
}
.hola:active {
  cursor: grabbing;
}
.animation {
  transition: all 0.7s ease-in-out;
  pointer-events: none;
}
.gibraltar {
  position: absolute;
  z-index: 5;
  padding: 0.2rem 0.5rem;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  object-fit: cover;
  border: none;
  box-shadow: rgba(128, 129, 129, 0.3) 0px 0px 2px 0px,
    rgba(132, 135, 136, 0.15) 0px 1px 2px 1px;
}

.gibraltar img {
  width: 15px;
  height: 15px;
  margin-left: 1px;
}
