.carousel-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 150vh;
    height: 45vw;
    position: relative;
}
.carousel-navigate {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    z-index: 9;
    position: absolute;
    bottom: 28%;
    left: 3%;
}
.carousel-card-banner {
    position: absolute;
    width: 100%;
}
.carousel-card-thumbnail {
    z-index: 9;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(1, 1, 1, 1);
}