.divcar {
  width: 150vw;
  height: 20vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}
.aruba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vh;
  object-fit: cover;
  overflow: hidden;
}
.aruba img {
  width: 100%;
  pointer-events: none;
}
.hola {
  width: 50vw;
  height: 20vh;
  position: relative;
  overflow-x: hidden;
  cursor: grab;
}
.hola:active {
  cursor: grabbing;
}
.aruba1{
  background-color: blue;
}
.aruba2{
  background-color: rgb(49, 116, 60);
}
.aruba3{
  background-color: rgb(229, 255, 0);
}
.animation {
  transition: all 0.7s ease-in-out;
}
.gibraltar {
  position: absolute;
  z-index: 5;
  padding: 0.2rem 0.5rem;
  top: 10px;
  right: 20px;
}