.daytest-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.daytest-input-date-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 44px;
}
.daytest-input-image {
  width: 44px;
  height: 44px;
}
.daytest-input-button {
  position: absolute;
  left: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.daytest-input-date {
  pointer-events: none;
  position: absolute;
  opacity: 0%;
  right: 80px;
  bottom: 140px;
}
.goooooooo {
  position: absolute;
  right: 0;
}
.daytest-input-text {
  position: absolute;
  right: 0;
  top: 10px;
}
