.daytest-div {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
  padding: 2rem 2rem 0.8rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px;
  border-radius: 10px;
  width: 44vw;
}

.daytest-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 80px;
  max-width: 15vw;
}
.daytest-input-date-div {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 44px;
}
.daytest-input-image {
  width: 35px;
  height: 35px;
}
.daytest-input-button {
  position: absolute;
  left: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.daytest-input-date {
  pointer-events: none;
  position: absolute;
  opacity: 0%;
  right: 80%;
  bottom: 140px;
}
.goooooooo {
  position: absolute;
  right: 0;
}
.daytest-input-text {
  position: absolute;
  left: 25%;
  top: 10px;
  font-size: 14px;
}

.random-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 15px;
  font-weight: 700;
}

.random-btn img {
  width: 35px;
  height: 35px;
  z-index: 1;
}

@media screen and (max-width: 820px) {
  .daytest-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .daytest-input-date-div {
    position: absolute;
    top: 53%;
  }
}