.delete-test-modal {
  background-color: #5c5c5ca7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.delete-test {
  position: relative;
  background-color: var(--color-bg);
  width: 500px;
  min-height: 200px;
  border-radius: 8px;
  padding: 2.5rem 3rem;
  overflow: hidden;
  box-shadow: rgba(154, 157, 160, 0.3) 0px 0px 2px 0px,
    rgba(174, 178, 180, 0.15) 0px 1px 2px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation-name: pulso;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  text-align: center;
}

.delete-test-buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

@keyframes pulso {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
