.createtest-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #cccccba7; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .createtest-modal-content {
    position: relative;
    background-color: var(--color-bg);
    width: 900px;
    height: 650px;
    border-radius: 8px;
    padding: 0 2rem;
    overflow: hidden;
    box-shadow: rgba(154, 157, 160, 0.3) 0px 0px 2px 0px,
      rgba(174, 178, 180, 0.15) 0px 1px 2px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    animation-name: vibrar;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }
  .textintruccion_container{
    width:700px;
    margin: 1rem 2rem;
  }
  .textintruccion_container > button{
    margin:1rem;
  }
  .createtest-modal-content > h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-highlight-primary);
    letter-spacing: 0.5px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 0.5px 0.5px;;
  }
  .textintruccion_container > h4{
    font-size: 1rem;
    font-weight: 500;
  }
  .createtest-modal-content > button {
    background: none;
    border: none;
    font-weight: bolder;
    position: fixed;
    top: 40%;
    right: 41%;
  }
  .list_container> li {
    padding-top: 0.5rem;
  }
  .list_container > ul > li > p{
    margin:0.5rem;
    font-size: 14px;
  }
  .middlelist_container > ul > li > p{
    margin:0.5rem;
    font-size: 14px;
  }
  .middlelist_container > p {
    margin:0.5rem;
    font-size: 14px;
    font-weight: 500;
  }
  .btnclose_container{
    align-self: flex-end;
  }
  .btn_close{
    background-color: transparent;
    border:none;
  }
  .btn_close > img{
    width:20px;
    height:20px;
  }

  .bottomh4_container > h4{
    font-size: 1rem;
    font-weight: 600;
    margin:0.5rem;
  }

  .bottomh4_container{
    margin-top:0.6rem;
  }
  @keyframes vibrar {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }