@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-bg: #fffeff;
  --color-primary: #212427;
  --color-highlight-primary: #ff4d00;
  --color-highlight-secondary: #1e4477;

  --spacing-0-2: 0.2rem;
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;

  --border-radius-small: 5px;
  --border-radius-medium: 0.5rem;
}
