.profile-statics {
  min-height: 59vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: var(--spacing-2);
  width: 100%;
}

.statistics-section {
  margin: var(--spacing-1);
  display: flex;
  gap: 4rem;
}

.statistics-first {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 500px;
}

.statistics-numbers {
  display: flex;
  align-items: center;
  gap: var(--spacing-1-5);
}

.achievements-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.separator {
  height: 100%;
  border-left: 1px solid #c5c2bc;
}

.profile-records {
  margin-top: var(--spacing-1);
}

.no-achievements {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 10vw;
}

.loading-statistics {
  margin: var(--spacing-1);
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  gap: var(--spacing-1);
  min-height: 10vh;
}

@media screen and (max-width: 1000px) {
  .statistics-section {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
}
