
.testdetail_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  
}
.info_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width:100%;
  border: 2px solid black;
}
.info_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.createinfo_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.createinfo_container > h1 {
  font-size: 1.1rem;
}

.createinfo_container> p {
  font-size: 14px;
  font-weight: 600;
  margin-left:8rem !important;
}
.createinfo_container > h4 {
  font-size: 12px;
  font-weight: 600;
  margin-left:2rem !important;
}
.yourfavorite_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left:2rem !important;
}
.yourfavorite_container > h4 {
  font-size: 16px;
  margin:0.3rem;
}
.creator_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  margin-left:2rem !important;
}
.creator_container > h4 {
  font-size: 12px;
  font-weight: 600;
}
.creator_container > img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 0.3rem;
}
.img_thumbnail {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 9rem;
  height: 9rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  margin:2rem;
}
.img_banner {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.footerdiv_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
 .detailtest_container{
  position:relative;
  display: flex;
  left:45rem;
  bottom:12.5rem;
 }

/* .play_btn {
  margin: 1rem;
} */
.finalbtn_container {
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
  margin-left: 1.1rem;
  position: relative;
  bottom: 12.5rem;
  left:60rem;
} 
.text_container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}
/*LEADERBOARD*/
.middle_content{
  border:2px solid black;
  display: flex;
}
.leaderboard_content {
  margin:3rem;
  display: flex;
  justify-content: space-evenly !important;
  flex-direction: column;
 
  border:2px solid rgb(255, 0, 0);
}
.leaderboard_content > h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem;
}
.leaderranking_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid purple;
  border-radius: 10px;
}
.testbord_container > h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;

}

.avatar_img {
  margin: 1rem;
  width: 8rem;
  height: 8rem;
}

.userinfo_container {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.userinfo_container > h6 {
  font-weight: 500;
  margin: 0.2rem;
}
.emptyplayer_container {
  margin: 2rem;
}
/*COMMENT SECTION */

.commentsection_container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.postacomment_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
}
.postacomment_container > h4 {
  font-weight: 500;
}
.textInputWrapper{
  display: flex;
}
.textInput{
  margin-top:1rem;
}
.post_btn {
  margin-top:1rem;
  margin-left: 2rem;
  width: fit-content;
  min-width: 90px;
  height: 30px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_btn:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 20px -18px;
}

.post_btn:active {
  transform: scale(0.95);
}
