.tests {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem 6rem;
  overflow-x: hidden;
  min-height: 59vh;
}

.tests-body {
  display: flex;
  margin: 1.5rem 0;
  gap: var(--spacing-2);
  justify-content: space-between;
  min-height: 100vh;
}
.tests-filters {
  display: flex;
  flex-direction: column;
  width: 15vw;
  padding: 1.5rem 1rem;
  gap: var(--spacing-2);
  border-radius: 10px;
  box-shadow: rgba(154, 157, 160, 0.3) 0px 0px 2px 0px,
    rgba(174, 178, 180, 0.15) 0px 1px 2px 1px;
  height: 75vh;
  position: sticky;
  top: 0;
}
.tests_input_container {
  position: relative;
}

.input_title {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px 10px;
  font-size: 13px;
  width: 100%;
}
.input_title:focus {
  outline: none;
}
.placeholder_title {
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  bottom: 5px;
  left: 9px;
  color: rgba(51, 51, 51, 0.597);
  background-color: var(--color-bg);
}
.input_title:focus ~ .placeholder_title,
.input_title:not(:placeholder-shown) ~ .placeholder_title {
  left: 9px;
  bottom: 28px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.597);
}
.tests_input_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.tests_input_container > label {
  margin: 0.6rem 0.2rem;
  font-size: 15px;
  font-weight: 400;
}

.test-filters-type,
.tests_order_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
}
.tests-filters button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-bg);
  width: 100%;
  text-align: center;
  border: 1px solid rgb(207, 207, 207);
}

.tests-filters button:disabled {
  filter: opacity(50%);
}

.tests-filters button:active {
  transform: scale(0.99);
}

.order-test {
  display: flex;
  align-items: center;
  gap: var(--spacing-0-5);
}

.order-test input {
  width: 12px;
}

.order-test label {
  font-size: 14px;
}
.tests-card-section {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 1rem;
}

.tests-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  min-height: 59vh;
}
.pagination-test-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.test-page-button-page {
  background-color: rgb(214, 214, 214);
  outline: none;
  width: 120px;
  height: 44px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}
.test-page-button-page-disabled {
  color: rgb(214, 214, 214);
  background-color: rgb(235, 235, 235);
}
.button-go-specific-page {
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: rgb(214, 214, 214);
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-pagination-specific-page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 400px;
  gap: 0.2rem;
}
.actual-page-nav-buttons {
  background-color: var(--color-highlight-primary);
}
.button-go-specific-page:hover {
  background-color: var(--color-highlight-primary);
}
.test-page-button-page:hover {
  background-color: var(--color-highlight-primary);
}
.test-page-button-page-disabled {
  color: rgb(214, 214, 214);
  background-color: rgb(235, 235, 235);
}
.test-page-button-page-disabled:hover {
  color: rgb(214, 214, 214);
  background-color: rgb(235, 235, 235);
}
.more-nav-buttons-pages {
  letter-spacing: 5px;
}
