.testdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 59vh;
}

.testdetail_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
}
.info_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.testdetail_info {
  display: flex;
  padding: 2rem 0 1rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.info_content {
  display: flex;
  gap: 1.5rem;
}

.testdetail_banner {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 30vh;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.testdetail_thumbnail {
  object-fit: cover;
  border-radius: 10px;
  width: 11rem;
  height: 11rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.createinfo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.createinfo_container > h1 {
  font-size: 28px;
  width: 350px;
}

.createinfo_container > p {
  font-size: 14px;
  font-weight: 600;
  margin-left: 8rem !important;
}
.createinfo_container > h4 {
  font-size: 12px;
  font-weight: 600;
  margin-left: 2rem !important;
}

.creator_container,
.timesplayed_container,
.testdetail-created {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.creator_container > h4,
.timesplayed_container > h4,
.yourfavorite_container > h4,
.testdetail-created > h4 {
  font-size: 14px;
  font-weight: 600;
}
.creator_container > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.timesplayed_container img,
.testdetail-created img {
  width: 15px;
  height: 15px;
  margin-left: 0.3rem;
  margin-right: 5px;
  filter: opacity(50%);
}

.yourfavorite_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.finalbtn_container {
  display: flex;
}
.text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0-2);
  width: 100%;
}

.text_container p {
  font-size: 14px;
}

.detailtest_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.testdetail-rating {
  display: flex;
  align-items: baseline;
}
/*LEADERBOARD*/
.middle_content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.8rem;
  padding: 3rem 0;
}
.leaderboard_content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1.2rem 1.5rem;
  gap: 1.7rem;
  width: 35%;
}
.leaderranking_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 1.8rem;
}
.testbord_container > h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 800;
}

.statics_content {
  min-height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1.2rem 1.5rem;
}

.statics_content h4 {
  align-self: flex-start;
}

.testdetail-circle-message {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.test-detail-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-0-5);
}

.test-detail-message img {
  width: 80px;
  height: 80px;
}
/*COMMENT SECTION */

.commentsection_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
}
.postacomment_container {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
  padding: 1rem 0;
}
.comment-textInput {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px 10px;
  font-size: 13px;
  width: 100%;
}
.post_btn {
  padding: 0.5rem 1rem;
  width: 100px;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_btn:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 20px -18px;
}

.post_btn:active {
  transform: scale(0.95);
}
/*TEEEEEEESSSSSTSSSS*/

.testone_container {
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlett_container {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testtwo_continer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}
.testtwo_continer > h3 {
  font-size: 1rem;
}

.text-question-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.optionDiv {
  width: 90vw;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.3rem;
}
.name_container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 10px;
  border-radius: 12px;
  width: 500px;
  text-align: center;
}
.name_container > h4 {
  font-weight: 500;
}

.image-question-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.questionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
}
.image-question-header > img {
  border-radius: 10px;
  width: 24rem;
  height: 12rem;
  object-fit: contain;
}
.questionTwoDiv > img {
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 24rem;
  height: 12rem;
  object-fit: contain;
  margin: 1rem;
  background-color: #fafafa;
  margin: 2rem;
  top: 0;
  right: 0;
}
.optionImgDiv {
  width: 90vw;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.optionImgDiv > img {
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 24rem;
  height: 12rem;
  object-fit: contain;
  margin: 1rem;
  background-color: #f8f8f8;
}
