.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #38383883 192, 192, 192;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile {
  position: relative;
  background-color: var(--color-bg);
  max-width: 500px;
  width: 500px;
  min-height: 400px;
  border-radius: 8px;
  padding: 2.5rem 3rem;
  overflow: hidden;
  box-shadow: rgba(154, 157, 160, 0.3) 0px 0px 2px 0px,
    rgba(174, 178, 180, 0.15) 0px 1px 2px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.edit-profile-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.edit-profile-avatar,
.edit-profile-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-0-5);
}
.avatar-label,
.banner-label {
  cursor: pointer;
  padding: var(--spacing-0-2) var(--spacing-1);
  border-radius: 5px;
  font-size: 12px;
  background-color: #dddddd;
  color: var(--color-primary);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-label:hover,
.banner-label:hover {
  background-color: #b6b6b6;
}

.avatar-file,
.banner-file {
  width: 0.1px;
  height: 0.1px;
}
.profile-modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
  margin-top: var(--spacing-1-5);
}

.input_username {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px 10px;
  font-size: 13px;
  width: 100%;
  margin-top: 1rem;
}
.input_username:focus,
.input_bio:focus {
  outline: none;
}
.custom-placeholder-profile {
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  bottom: 7px;
  left: 9px;
  text-transform: lowercase !important;
  font-size: 14px !important;
  color: rgba(51, 51, 51, 0.597);
  background-color: var(--color-bg);
  font-weight: 400 !important;
}

.input_username:focus ~ .custom-placeholder-profile,
.input_username:not(:placeholder-shown) ~ .custom-placeholder-profile {
  left: 9px;
  bottom: 30px;
  color: rgba(51, 51, 51, 0.597);
}
.edit-username,
.edit-bio {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-username > label,
.edit-bio > label {
  margin: 0.6rem 0.1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.input_bio {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px 10px;
  font-size: 13px;
  width: 100%;
  min-height: 90px;
  resize: none;
}

.input_bio:focus ~ .custom-placeholder-profile-bio,
.input_bio:not(:placeholder-shown) ~ .custom-placeholder-profile-bio {
  left: 9px;
  bottom: 74px;
  color: rgba(51, 51, 51, 0.597);
}

.custom-placeholder-profile-bio {
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  bottom: 52px;
  left: 9px;
  text-transform: lowercase !important;
  font-size: 14px !important;
  color: rgba(51, 51, 51, 0.597);
  background-color: var(--color-bg);
  font-weight: 400 !important;
}
